.friends-list{
    width:1440px;
    padding: 0;
    margin: 50px auto 0;
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    
}
.friends-list-item{
    height:400px;
    width: calc((100% - 80px) / 5);
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.friends-list-item-image{
    padding-top: 30px;
    width: calc(100% * 0.8);
}
.friends-list-item-name{
    font-size: 50px;
    margin-top: auto;
}
.friends-list-item-status{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    color: hsl(123, 100%, 50%)
}